body{
    background: #ccc;

}
#header{
    padding: 20px;
    background: #cccccc;
}
#content{
    background: mintcream;
    padding: 20px;

}

#footer{
    background: greenyellow;
    padding: 20px;

}
.user-control{

}
select.user-form {
    height: 24px;
    width: 175px;

}